*{
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    border: 4px #ffffff solid;
    height: 100px;
    width: 100%;
    position: fixed;
}
h1{
    position: absolute;
    left: 60px;
    top: 0px;
    background-image: url(image/logo_max.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0.15) translate(-285%,-298%);
    width: 1573px;
    height: 977px;
    text-indent: -9999px;
}
header ul{
    position: absolute;
    right:6vw;
    top: 0;
    line-height: 100px;
    font-size: larger;
}
header li{
    color: #ffffff;
    display: inline;
    margin-right: 5vw;
}
header a{
    color: whitesmoke;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
.myself{
    background-color: rgb(128, 128, 128 / 0px);
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255)),url(image/Myself.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.myself h2{
    font-size: clamp(35px,5vw,80px);
}
.myself h3{
    font-size: clamp(20px,2.5vw,60px);
    font-weight: normal;
    margin: 20px 0;
}
.myself p{
    font-size: clamp(10px,1vw,20px);
    font-weight: lighter;
}
footer{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}
footer a{
    color: red;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.menu{
    display: none;
}
/*响应式设计专用*/
@media screen and (max-width: 768px) {
    header ul{
        display: none;
    }
    header h1{
        left: 50%;
        transform: translateX(-50%);
        transform: scale(0.15) translate(-330%,-298%);
    }
        .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 30px;
        position: absolute;
        top: 25px;
        left: 25px;
        border: none;
        cursor: pointer;
    }
}
